/*  your css code here. If applicable */
.book-library{
	background-color: #ffffff;
}
.price{
	background-color: #2ecc71;
	text-align: center;
}
.Author{
	color: #777777;
}
.book{
	padding: 10px 10px 10px 10px;
}
.body{
	text-align: center;
	font-weight: bold;
}